---
import { getCollection } from 'astro:content'
import Card from '../components/Card.astro'
import Layout from '../layouts/Layout.astro'

const allConfig = await getCollection('config')

console.log(allConfig)
---

<Layout>
    <h1 class="text-4xl text-center sm:mt-16 mt-8 font-black">Simon's config</h1>
    <p class="text-gray-400 text-center mb-16 mt-2">Update date : 25th november 2025</p>

    <nav class="grid mb-10 sm:grid-cols-3 gap-4">
        {
            allConfig.map((config) => (
                <a
                    class="bg-white border-2 border-retro-orange p-2 hover:bg-retro-orange/5"
                    href={`#${config.data.slug}`}
                >
                    {config.data.name}
                </a>
            ))
        }
    </nav>

    <ul class="space-y-18">
        {
            allConfig.map((config) => (
                <li id={config.data.slug}>
                    <h2 class="text-2xl font-black text-retro-orange pt-6">{config.data.name}</h2>
                    <ul class="space-y-4 mt-2">
                        {config.data.components.map((component) => (
                            <li>
                                <Card
                                    name={component.name}
                                    model={component.model}
                                    specs={component.specs}
                                    link={component.link}
                                />
                            </li>
                        ))}
                    </ul>
                </li>
            ))
        }
    </ul>
</Layout>
